*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    max-height: 100vh;
}

.container{
    width: 75%;
    height: 100vh;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    /* background-color: aqua; */
}

#response{
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
    /* background-color: #f5f5f5; */
}

#input{
    width: 75%;
    /* border: 1px solid #000; */
    margin: auto;

}

form{
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    /* border: 1px solid #000; */
    /* border-radius: 5px; */
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea{
    width: 100%;
    min-height: 3rem;
    max-height: 5rem;
    padding: .4rem 2rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    resize: none;
    border-radius: 50px;
    margin: 0 1rem;
    /* text-indent: 1rem; */
    align-content: center;
}

textarea::placeholder{
    color: #aa9f0b;
}

button{
    height: 3rem;
    padding: .5rem .8rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: #666666;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button span{
    margin: 0;
    padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}